@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');


@import "tailwindcss";

@theme {
    --font-michroma: Michroma, "sans-serif";
    --font-roboto: Roboto, "sans-serif";
    --font-manrope: Manrope, "sans-serif";
    --font-luckiest: Luckiest Guy, "sans-serif";
    --font-loved: Loved by the King, "sans-serif";
    --font-londrina: Londrina Solid, "sans-serif";



    --color-neonPink: #FF59EE;
    --color-darkenBlue: #192131;
    --color-darkNeonPink: #F81CE2;
}

.custom-dashed-4side {
  position: relative;
  background: #FF59EE;
  padding: 20px;
}

.custom-dashed-4side::before,
.custom-dashed-4side::after,
.custom-dashed-4side div::before,
.custom-dashed-4side div::after {
  content: "";
  position: absolute;
  background: repeating-linear-gradient(
    to right,
    #F81CE2,
    #F81CE2 60px,
    transparent 60px,
    transparent 80px
  );
  height: 3px;
  width: 100%;
}

.custom-dashed-4side::before {
  top: 0;
  left: 0;
}

.custom-dashed-4side::after {
  bottom: 0;
  left: 0;
}

.custom-dashed-4side div::before,
.custom-dashed-4side div::after {
  content: "";
  position: absolute;
  background: repeating-linear-gradient(
    to bottom,
    #F81CE2,
    #F81CE2 60px,
    transparent 60px,
    transparent 80px
  );
  width: 3px;
  height: 100%;
}

.custom-dashed-4side div::before {
  top: 0;
  left: 0;
}

.custom-dashed-4side div::after {
  top: 0;
  right: 0;
}